In [20]:
using DataFrames
using Dates
using SQLite

In [13]:
db = SQLite.DB("./data.sqlite3")
query = SQLite.Query(db, "SELECT * FROM requests;")
df = DataFrame(query)
#rows = []
#for row in query
#    push!(rows, row)
#end

describe(df)

6×8 DataFrame. Omitted printing of 4 columns
│ Row │ variable    │ mean    │ min                                  │ median │
│     │ Symbol      │ Union…  │ Any                                  │ Union… │
├─────┼─────────────┼─────────┼──────────────────────────────────────┼────────┤
│ 1   │ id          │         │ 0008db7b-652a-4d3b-9c40-0f57c8b4eb94 │        │
│ 2   │ worker_id   │ 4.48334 │ 0                                    │ 4.0    │
│ 3   │ start_time  │         │ 2019-08-19 21:45:28.475643804-07:00  │        │
│ 4   │ end_time    │         │ 2019-08-19 21:45:28.593233664-07:00  │        │
│ 5   │ duration_ms │ 188.165 │ 75                                   │ 184.0  │
│ 6   │ success     │ 1.0     │ 1                                    │ 1.0    │

In [41]:
function convert_time_string(s::String)::DateTime
    t = s[1:23]
    return DateTime(t, "y-m-d H:M:S.s")
end


df.start_time_2 = map(convert_time_string, df.start_time);
df.end_time_2 = map(convert_time_string, df.end_time);

test_start_time = minimum(df.start_time_2);
println(test_start_time);
test_end_time = maximum(df.end_time_2)
println(test_end_time);

2019-08-19T21:45:57.454